<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Add an Address</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h2>Add an Address</h2>
        <form method="POST" action='/submit'>
            <p>Name: <input type='text' name='name'/></p>
            <p>Street: <input type='text' name='street'/></p>
            <p>State: <input type='text' name='state'/></p>
            <p>Zip: <input type='text' name='zip'/></p>
            <input type='submit' value='Submit'/>
        </form>
    </body>
</html>
