<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Submission Recorded</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h2>Thank you!</h2>
        <p>Your submission has been recorded!</p>
        <a href="/list">List of Addresses</a><br/>
        <br/><a href="/">Home</a>
    </body>
</html>
